<body>
  <div layout="row">

   
    <h1>{{title}}</h1>
    <mat-card style="margin:5%">
      <header>New Customer</header>
    <form class="example-form">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Hangar Number" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Tenant Firstname, Lastname" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Policy Verification" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Up-to-date Insurance" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Phone Number" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Email" value="">
      </mat-form-field>
    </form>
    <div class="accept-button-row">
      <button mat-raised-button style="width:100%">Submit</button>
    </div>
  
    </mat-card>

  </div>
</body>