
<mat-card class="cardStyle">
  <div class="leaseeName" matBadge="1" matBadgeColor="warn" matBadgeOverlap="false">Peter Parker</div>
  <br>
  <div class="unitNumber">M6</div>
</mat-card>

<mat-card class="cardStyle">
  <div class="leaseeName">Peter Parker</div>
  <br>
  <div class="unitNumber">M6</div>
</mat-card>

<mat-card class="cardStyle">
  <div class="leaseeName">Bruce Wayne</div>
  <br>
  <div class="unitNumber">T25</div>
</mat-card>

<mat-card class="cardStyle">
  <div class="leaseeName">Bruce Banner</div>
  <br>
  <div class="unitNumber">M3</div>
</mat-card>

<mat-card class="cardStyle">
  <div class="leaseeName">Shawn Tucker</div>
  <br>
  <div class="unitNumber">H4</div>
</mat-card>

<mat-card class="cardStyle">
  <div class="leaseeName">Clyde Green</div>
  <br>
  <div class="unitNumber">H8</div>
</mat-card>

<mat-card class="cardStyle">
  <div class="leaseeName">Wilson Fisk</div>
  <br>
  <div class="unitNumber">T22</div>
</mat-card>

