<div layout="row">

  
  <h1>{{title}}</h1>

  <mat-card style="margin:5%">
    <header>Login</header>
    <br>
  <form class="example-form">
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Email" value="Email">
    </mat-form-field>
    <br>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Password" value="Password">
    </mat-form-field>
    <br>
  </form>
  <div class="accept-button-row">
    <button mat-raised-button style="width:100%">Submit</button>
  </div>

  </mat-card>

</div>